src/main/resources/wsdl/ctmsResp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="iptv" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="iptv" xmlns:intf="iptv" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="iptv" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CSPResult">
    <sequence>
     <element name="Result" type="xsd:int"/>
     <element name="ErrorDescription" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="resultNotifyRequest">

      <wsdl:part name="CSPID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="LSPID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="correlateID" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="cmdResult" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="resultFileURL" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="resultNotifyResponse">

      <wsdl:part name="resultNotifyReturn" type="impl:CSPResult">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CSPResponse">

      <wsdl:operation name="resultNotify" parameterOrder="CSPID LSPID correlateID cmdResult resultFileURL">

         <wsdl:input message="impl:resultNotifyRequest" name="resultNotifyRequest">

       </wsdl:input>

         <wsdl:output message="impl:resultNotifyResponse" name="resultNotifyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ctmsSoapBinding" type="impl:CSPResponse">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="resultNotify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resultNotifyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="resultNotifyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CSPResponseService">

      <wsdl:port binding="impl:ctmsSoapBinding" name="ctms">

         <wsdlsoap:address location="http://localhost:9999/services/ctmsResp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
