src/main/resources/WEB-INF/services/axis2/META-INF/CSPRequestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="iptv" xmlns:impl="iptv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="iptv" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <schema targetNamespace="iptv" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="iptv">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CSPResult">
    <sequence>
     <element name="Result" type="xsd:int"/>
     <element name="ErrorDescription" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><xsd:element name="ExecCmd"><xsd:complexType><xsd:sequence><xsd:element form="unqualified" name="CSPID" nillable="true" type="ns0:string"/><xsd:element form="unqualified" name="LSPID" nillable="true" type="ns0:string"/><xsd:element form="unqualified" name="CorrelateID" nillable="true" type="ns0:string"/><xsd:element form="unqualified" name="CmdFileURL" nillable="true" type="ns0:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="ExecCmdResponse"><xsd:complexType><xsd:sequence><xsd:element form="unqualified" name="ExecCmdReturn" nillable="true" type="ns1:CSPResult"/></xsd:sequence></xsd:complexType></xsd:element></schema>
  </wsdl:types>
  <wsdl:message name="ExecCmdResponse">
    <wsdl:part name="ExecCmdReturn" type="impl:CSPResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExecCmdRequest">
    <wsdl:part name="CSPID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="LSPID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="CorrelateID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="CmdFileURL" type="soapenc:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CSPRequest">
    <wsdl:operation name="ExecCmd" parameterOrder="CSPID LSPID CorrelateID CmdFileURL">
      <wsdl:input name="ExecCmdRequest" message="impl:ExecCmdRequest">
    </wsdl:input>
      <wsdl:output name="ExecCmdResponse" message="impl:ExecCmdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ctmsSoapBinding" type="impl:CSPRequest">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ExecCmd">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ExecCmdRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
      </wsdl:input>
      <wsdl:output name="ExecCmdResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSPRequestService">
    <wsdl:port name="ctms" binding="impl:ctmsSoapBinding">
      <wsdlsoap:address location="http://loaclhost:9999/services/ctms"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
